html {
    font-family: 'Nunito';
}

body {
    background-color: #130f0d;
    color: white;
}

.boards {
    display: flex;
    margin-top: 32px;
}

.board {
    background: #141316;
    border: 1px solid #fd951f11;
    border-radius: 4px;
    margin: 16px 16px;
}

.board h3 {
    color: #F28D35;
    padding: 16px;
    margin: 0;
}

.dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.card {
    background: #1a1a1c;
    font-size: 600;
    font-size: 18px;
    box-shadow: 0 2px 2px -1px #F28D35;
    padding: 16px;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
}

.status {
    width: 30px;
    height: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.green {
    background: #428C4D;
}

.status.blue {
    background: #2291F2;
}

.status.red {
    background: #F24130;
}

.highlight {
    background-color: #3D272244;
}

.card, .dropzone {
    transition: .3s;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
 background-color: #428C4D22;
}